/*
    Google work sans font associated with CSS
 */
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Bitter&family=Dancing+Script:wght@500&family=Edu+NSW+ACT+Foundation&family=Edu+SA+Beginner:wght@700&family=Inter&family=Lobster&family=Merriweather&family=Noto+Sans&family=Open+Sans&family=Poppins:wght@400;500&family=Roboto:wght@500&family=Splash&family=Work+Sans&display=swap");


/*
    Common all styles
 */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Work Sans";
  scroll-behavior: smooth;
}

.container {
  max-width: 1250px;
  width: 100%;
}

.golden-btn {
  width: 135px;
  height: 45px;
  border: none;
  background: #ff900e;
  border-radius: 8px;
  font-weight: 600;
  font-size: 17px;
  cursor: pointer;
  color: #ffffff;
}

/* 
    HEADER SECTION AND NAVIGATION Start
 */

header {
  background: white;
  padding: 5.5px 0;
  position: sticky;
  top: 0;
  z-index: 1;
}
nav {
  width: 80%;
  height: 81px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
nav > .logo {
  width: 40%;
  height: 100%;
  display: flex;
  align-items: center;
  font-weight: 700;
  font-size: 25px;
  color: #131313;
  cursor: pointer;
}
nav .links {
  width: 60%;
  height: 100%;
  display: flex;
  justify-content: end;
  gap: 18px;
  align-items: center;
}
nav .links li {
  list-style: none;
}
nav .links a {
  display: block;
  padding: 0.6em 1em;
  text-decoration: none;
  font-weight: 500;
  font-size: 18px;
  text-align: center;
  color: #424242;
  border: 1px solid transparent;
}
nav .links a:hover {
  border: 1px solid #ff900e;
  border-radius: 8px;
}
#nav-toggle {
  position: absolute;
  top: -100px;
}
nav .icon-burger {
  display: none;
}
/* 
    HEADER SECTION AND NAVIGATION End
 */



/*
    Hero/Top section styles Start
 */

.hero-section {
  padding: 100px 0 37px 0;
  background: rgba(255, 144, 14, 0.1);
  margin-bottom: 5.5rem;
}

.hero-contents {
  display: flex;
  flex-direction: column;
  gap: 50px;
  align-items: center;
  margin: 0 auto;
}

.hero-contents .hero-texts {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 25px;
}

.hero-texts h1 {
  font-weight: 700;
  font-size: 64px;
  text-align: center;
  color: #131313;
}

.hero-texts p {
  font-weight: 400;
  font-size: 16px;
  text-align: center;
  color: #727272;
  padding: 0 176px;
}

.hero-contents .hero-img {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.hero-contents .hero-img img {
  width: 100%;
  border-radius: 8px;
}
/*
    Hero/Top section styles End
 */


/*
    Quick Features section styles Start
 */
.quick-features-section {
  display: flex;
  align-items: center;
  gap: 55px;
  margin: 0 auto;
  padding-bottom: 8.125rem;
}

.quick-features-section .quick-features-grid-cards {
  width: 50%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 24px;
}

.quick-features-grid-cards img {
  border-radius: 8px;
  width: 100%;
}

.quick-features-section .quick-features-content {
  width: 50%;
}

.quick-features-section .quick-features-content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 18px;
}

.quick-features-content h2 {
  font-weight: 500;
  font-size: 45px;
}
.quick-features-content h2 .light-text {
  color: #727272;
}

.quick-features-content h2 .dark-text {
  color: #131313;
  font-weight: 700;
}

.quick-features-content h2 .golden-text {
  color: #ff900e;
  font-weight: 700;
}

.quick-features-content p {
  font-weight: 400;
  font-size: 16px;
  color: #727272;
  padding: 0 59px 0 0;
}
/*
    Quick Features section styles End
 */
